# ------------------------------------------------------------------
# APP CONFIG
# ------------------------------------------------------------------
NODE_ENV=development
PORT=3000
PUBLIC_URL=http://localhost:3000
DB_SYNC=true

# ------------------------------------------------------------------
# DATABASE (MySQL)
# ------------------------------------------------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=nfc_db

# ------------------------------------------------------------------
# REDIS (BullMQ Queues)
# ------------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ------------------------------------------------------------------
# AUTH (JWT)
# ------------------------------------------------------------------
JWT_SECRET=23de663aa9b80d362f7bf7cd6daf309809906774a39271ff887a1b41b66562458fdce015c142a56aef7d427a34e6ac5d1cbe6aec545e220c6721ebe4d3b11bd34bfe26b0c18cb872
JWT_EXPIRATION=1d

# ------------------------------------------------------------------
# NFC SECURITY (AES Encryption)
# MUST BE EXACTLY 32 CHARACTERS
# ------------------------------------------------------------------
NFC_SECRET_KEY=9f6b8832e48d583ebbea82e38ac0fb1f

# ------------------------------------------------------------------
# DARAJA (M-Pesa)
# ------------------------------------------------------------------
DARAJA_CONSUMER_KEY=your_safaricom_consumer_key
DARAJA_CONSUMER_SECRET=your_safaricom_consumer_secret
DARAJA_PAYBILL=174379
DARAJA_PASSKEY=your_safaricom_passkey
DARAJA_ENV=sandbox

# ------------------------------------------------------------------
# AFRICA'S TALKING (SMS)
# ------------------------------------------------------------------
AFRICASTALKING_USERNAME=your_africastalking_username
AFRICASTALKING_API_KEY=your_africastalking_api_key

# ------------------------------------------------------------------
# FIREBASE (Push Notifications)
# ------------------------------------------------------------------
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your_project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ------------------------------------------------------------------
# EMAIL (SMTP)
# ------------------------------------------------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=noreply@yourdomain.com